.register {
    max-width: 375px;
    padding: 64px 0;
    margin: 0 auto;
}

.registerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}

.registerBoxText {
    display: none;
}

.formBox {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 25px 25px 0 0;
    background-color: rgba(133, 170, 159, 0.1);
    padding: 32px 16px 57px;
}

.title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #121417;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(18, 20, 23, 0.8);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.inputsBox {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.label {
    position: relative;
    width: 100%;
}

.input {
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 15px;
    padding: 16px 18px;
    width: 100%;
    height: 56px;
    outline: none;
}

.input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #121417;
}


.inputError {
    border-color: #ef2447;
}



.eye {
    position: absolute;
    top: 18px;
    right: 18px;
    stroke: #121417;
    fill: #fff;
}

.eye:hover {
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 56px;
    width: 100%;
    background-color: #85aa9f;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #fcfcfc;
}

.link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
    color: rgba(18, 20, 23, 0.5);
}

@media screen and (min-width:768px) {
    .register {
        max-width: 768px;
        padding: 204px 70px 106px;
        background-image: url("/registerBackTab.png");
    }
}

@media screen and (min-width:1440px) {
    .register {
        width: 1440px;
        padding: 128px 134px 80px 100px;
        background-image: url("/registerBackDesk.png");
    }
}