.tableWrapper {
    margin-bottom: 32px;
    padding: 0px 16px;
    max-width: 375px;
}

.tableBox {
    display: flex;
    background-color: rgba(133, 170, 159, 0.1);
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #dbdbdb;
}

.tableHeadRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 14px;
    font-weight: 500;
    font-size: 16px;
    color: #121417;
}

.tableHeadRow:not(:last-child) {
    border-right: 1px solid #dbdbdb;
}

.word {
    border-radius: 8px 0 0 0;
    width: 82px;
}

.wordRec {
    width: 90px;
}

.translation {
    width: 116px;
}

.translationRec {
    width: 116px;
}

.flag {
    display: none;
}

.category {
    display: none;
}

.categoryRec {
    width: 99px;
}

.progress {
    width: 95px;
}

.progressRec {
    display: none;
}

.edit {
    width: 50px;
    border-radius: 0 8px 0 0;
}

.editRec {
    width: 38px;
    border-radius: 0 8px 0 0;
}



.wordBox {
    display: flex;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fcfcfc;
}

.wordBox:last-child {
    border-radius: 0 0 8px 8px;
}

.wordRow {
    display: flex;
    align-items: center;
    padding: 16px 14px;
    font-weight: 500;
    font-size: 16px;
    color: #121417;

}

.wordRow:not(:last-child) {
    border-right: 1px solid #dbdbdb;
}

.wordWord {
    width: 82px;
}

.wordWordRec {
    width: 90px;
}

.wordTranslation {
    width: 116px;
}

.wordTranslationRec {
    width: 116px;
}

.wordWord,
.wordTranslation,
.wordCategory {
    word-break: break-all;
    overflow-wrap: anywhere;
}

.wordWordRec,
.wordTranslationRec,
.wordCategoryRec {
    word-break: break-all;
    overflow-wrap: anywhere;
}

.wordCategory {
    display: none;
}

.wordCategoryRec {
    width: 99px;
}

.wordProgress {
    width: 95px;
}

.wordProgressRec {
    display: none;
}

.wordEdit {
    width: 50px;
    justify-content: center;
    position: relative;
}

.wordEditRec {
    display: flex;
    justify-content: center;
    width: 38px;
}

.editBox {
    position: absolute;
    top: 42px;
    right: 0;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 12px 24px;
    gap: 8px;
    box-shadow: 0 4px 47px 0 rgba(18, 20, 23, 0.08);
    background: #fff;
    z-index: 9;
}

.editBtn {
    display: flex;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    color: #121417;
    align-items: center;
}

.addToMyList {
    padding: 0;
}

.editIcon {
    stroke: #85aa9f;
    fill: #fff;
}

.text {
    display: none;
}

.arrowImg {
    stroke: #85aa9f;
}

@media screen and (min-width:768px) {

    .tableWrapper {
        max-width: 768px;
        padding: 0px 32px;
        margin-bottom: 28px;
    }

    .table {
        border-radius: 15px;
        padding: 18px;
        background-color: #fff;
    }

    .tableHeadRow {
        font-size: 18px;
        height: 69px;
        padding-left: 22px;
    }

    .flag {
        display: block;
    }

    .word {
        width: 160px;
    }

    .wordRec,
    .translationRec {
        width: 180px;
    }

    .category {
        display: flex;
        align-items: center;
        width: 151px;
    }

    .categoryRec {
        width: 160px;
    }

    .progress {
        width: 122px;
        padding: 22px 24px 22px 22px;
    }

    .translation {
        width: 169px;
        padding-right: 12px;
    }

    .edit {
        width: 66px;
    }

    .editRec {
        width: 148px;
    }

    .wordRow {
        font-size: 18px;
        padding: 22px;
    }

    .wordWord {
        width: 160px;
    }

    .wordWordRec,
    .wordTranslationRec {
        width: 180px;
    }

    .wordTranslation {
        width: 169px;
    }

    .wordCategory {
        display: flex;
        align-items: center;
        width: 151px;
    }

    .wordCategoryRec {
        width: 160px;
    }

    .wordProgress {
        width: 122px;
    }

    .wordEdit {
        width: 66px;
    }

    .wordEditRec {
        width: 148px;
        padding: 14px;
    }

    .editBtn {
        font-size: 16px;
        line-height: 1.5;
    }

    .addToMyList {
        display: flex;
        flex-direction: column;
    }

    .text {
        display: block;
    }
}


@media screen and (min-width:1440px) {

    .tableWrapper {
        max-width: 1440px;
        padding: 0px 100px;
    }

    .tableHeadRow {
        font-size: 20px;
        height: 72px;
    }

    .wordRow {
        font-size: 20px;
    }

    .word,
    .wordWord {
        width: 280px;
    }

    .wordRec,
    .wordWordRec {
        width: 372px;
    }

    .translation,
    .wordTranslation {
        width: 274px;
    }

    .translationRec,
    .wordTranslationRec {
        width: 364px;
    }

    .category,
    .wordCategory {
        width: 260px;
    }

    .categoryRec,
    .wordCategoryRec {
        width: 260px;
    }

    .progress,
    .wordProgress {
        width: 254px;
    }

    .edit,
    .wordEdit {
        width: 136px;
    }

    .editRec,
    .wordEditRec {
        width: 208px;
        padding: 22px;
    }

    .addToMyList {
        flex-direction: row;
        gap: 8px;
    }
}